@tailwind base;
@tailwind components;
@tailwind utilities;


header ul li{
  @apply px-3
   
}

.bgp{
  width: 200px;
  height: 200px;
  background-size: cover;
}


.bg-primary{
  background: rgb(85 81 227);
}
.bg1{
  background: white;
  box-shadow: 10px;
}
.bg-secondary{
  background: #2b2d77;
}

.mobile-nav{
    @apply fixed top-14 left-0 bg-gray-800 w-full h-1/4 ;
}

.mobile-nav li{
  @apply w-full h-full text-center border-b-2;

}

.project-desc{
    @apply absolute left-0 right-0 bottom-20 top-0 bg-green-500 backdrop-blur-lg opacity-0 duration-500 hover:opacity-85;

}

.btn{
  @apply bg-[#1f2937] px-5 py-2 font-bold border-2 border-white rounded
}

html{
  scroll-behavior: smooth;
}